
<div class="input-group input-group-sm">
    <span class="input-group-addon feature_line_title_addon">Item</span>
    <input type="text" class="form-control" placeholder="enter item">
    <span class="input-group-addon">
        <input type="checkbox" aria-label="...">
    </span>
</div>
